<div class="space-y-1">
  <label id="listbox-label" class="block text-sm py-2 leading-5 font-medium text-gray-700"> Selected user: </label>
  <div class="relative">
    <span (click)="show = !show" class="inline-block w-full rounded-md shadow-sm">
      <button
        type="button"
        aria-haspopup="listbox"
        aria-expanded="true"
        aria-labelledby="listbox-label"
        class="cursor-default relative w-full rounded-md border border-gray-300 bg-white pl-3 pr-10 py-2 text-left focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition ease-in-out duration-150 sm:text-sm sm:leading-5"
      >
        <div class="flex items-center space-x-3">
          <ng-container *ngIf="selectedUser; else empty">
            <img
              src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
              alt=""
              class="flex-shrink-0 h-6 w-6 rounded-full"
            />
            <span class="block truncate">
              {{ selectedUser?.name }}
            </span>
          </ng-container>

          <ng-template #empty>No user selected</ng-template>
        </div>
        <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
          <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="none" stroke="currentColor">
            <path d="M7 7l3-3 3 3m0 6l-3 3-3-3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </button>
    </span>

    <!-- Select popover, show/hide based on select state. -->
    <div *ngIf="show" class="absolute mt-1 w-full rounded-md bg-white shadow-lg">
      <ul
        tabindex="-1"
        role="listbox"
        aria-labelledby="listbox-label"
        aria-activedescendant="listbox-item-3"
        style="max-height: calc(100vh - 183px)"
        class="max-h-56 rounded-md py-1 text-base leading-6 shadow-xs overflow-auto focus:outline-none sm:text-sm sm:leading-5"
      >
        <!--
            Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.
  
            Highlighted: "text-white bg-indigo-600", Not Highlighted: "text-gray-900"
          -->

        <li
          *ngFor="let user of users; index as i"
          (click)="onUserSelect(user)"
          (mouseover)="isHighlight = i"
          (mouseout)="isHighlight = null"
          [ngClass]="{ 'text-white bg-indigo-600': isHighlight === i, 'text-gray-900': !isHighlight }"
          id="listbox-item-{{ i }}"
          role="option"
          class="text-gray-900 cursor-pointer select-none relative py-2 pl-3 pr-9"
        >
          <div class="flex items-center space-x-3">
            <img
              src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
              alt=""
              class="flex-shrink-0 h-6 w-6 rounded-full"
            />
            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
            <span class="font-normal block truncate">
              {{ user.name }}
            </span>

            <span
              *ngIf="
                user && user.therapist_msg && user.user_msg && user.therapist_msg.toMillis() != user.user_msg.toMillis()
              "
              class="items-center px-2 font-semibold rounded-full bg-indigo-100 text-indigo-800"
            >
              Unread
            </span>
          </div>

          <!--
              Checkmark, only display for selected option.
  
              Highlighted: "text-white", Not Highlighted: "text-indigo-600"
            -->
          <span
            *ngIf="selectedUser && selectedUser.uid == user.uid"
            class="absolute inset-y-0 right-0 flex items-center pr-4"
          >
            <!-- Heroicon name: check -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
